//main body colors
$main-color: ;
$secondary-color: ;
$tertiary-color: ;

//section headers
$header-color: ;

// header and footer
$extremities-color: ;

//typography color
$text-color: ;
$link-color: ;
$heading-color: ;
