@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,300,600);

* {
	font-family: 'Rubik', sans-serif;
}

h1 {
  color: $heading-color;
}

h2 {
  color: $heading-color;
}

h3{
  color: $heading-color;
}

.text {
	p {
    color: $text-color;
	}
}

a {
  color: $link-color;
    &:hover, &:link, &:active, &:visited {
        color: $link-color;
        text-decoration: none;
    }
}
